
// Fonts


@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	font-family: "Raleway", sans-serif;
    background: #F6F6F7;
}
.navbar-laravel {
//	background-image: linear-gradient(120deg,#556cdc,#128bfc,#18bef1);
//  background-image: linear-gradient(120deg,#18bef1, #8183B1, #EF4667);
    background-image: linear-gradient(120deg, #18bef1, #29B4E6, #EF4667);
}
.navbar-light .navbar-brand {
	color:#fff;
	font-size: 1.500rem;
}
.navbar-light .navbar-brand:hover {
    color:#fff;
}
.navbar-light .navbar-brand img{
    margin-top: -15px;
    margin-bottom: -15px;
    width:75px;
    height:50px;
}
.navbar-light .navbar-nav .nav-link{color:#fff}
.is-white{background:#fff;}
.primary-menu{padding:0px;}
.primary-menu a{ padding:15px;color:#777;text-transform:uppercase;font-weight:bold;letter-spacing:0.7px;}
.top-nav .nav-link:hover{
    color: #fff!important;
   // border-bottom:2px solid #fff;
}
.primary-menu a:hover{
    color: #EF4667!important;
}
.router-link-exact-active,.router-link-active{ 
	position: relative;
    color: #EF4667!important;}
.router-link-exact-active:after,.router-link-active:after{    content: "";
    width: 100%;
    display: block;
    //border-bottom: 5px solid #4573E4;
    border-bottom: 5px solid #EF4667;
    position: absolute;
    bottom: 0;
    border-radius: 9999px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;}
.card{border:2px solid rgba(0,0,0,0.075);}
.no-border{border:0;padding-bottom:2rem;}
.main-menu-links{padding-right:3em}
.main-menu-links svg{margin-right: 10px;}
//.btn{ border:2px solid transparent;font-weight:bold}
.btn-primary:hover,.btn-danger:hover{
	color:#fff!important;
}
.btn{
    font-weight:400;
    text-decoration: none;
    border-radius: .5rem;
    font-size: .875rem;
    padding: .5rem 1.25rem;
    color: #fff;
    box-shadow: 0 2px 7px 0 #b0eaff;
    border:2px solid transparent;
    font-weight:bold;
}

.btn-primary{    
	box-shadow: unset;
    padding: 0.375rem 0.75rem;
    color: #4773E3!important;
    background-color: transparent; 
    border-color: #19BDF0!important
}
.btn-danger{ 
	color: #e3342f!important;
	background-color: transparent; 
	border-color: #e3342f!important;
}

.btn-add{
    background-color: #19BDF0;
}
.btn-sm{
    box-shadow: unset;
    padding: 0.375rem 0.75rem;
    margin-right:5px;
}
.card-header{
	text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px;
    color:#19BDF0;
    background:#fff;
}
.no-link:after{
	content:none;
}    

//flex custom
.flex-1{
    flex:1
}

.flex-1 span{
    float:right;
}

//padding
.pb-10{
    padding-bottom:15px;
}
.p-0{
    padding:0;
}
.p-none{
    padding:0;
}
//tabs
.project-tabs .nav{
    justify-content: center;
}
.project-tabs .tab-content{
    padding:3rem;
}
.project-tabs .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-image: linear-gradient(30deg,#556cdc,#128bfc,#18bef1);   
    border-color: #4573E4 #4573E4 #4573E4;
}
.project-tabs .nav-link {
    padding: 0.6rem 1.5rem;
    font-weight:bold;
    color:#777;
    letter-spacing:1px;
}
.project-tabs .card{
    border:0;
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.col-form-label{
    font-weight:bold;
}
.top-nav svg{
    margin-right:5px;
}
.header-svg{
    width:40px;
    height:40px;
    float:left;
}

.left-border{
    border-left:2px solid #EF4667;
}
.usercard {
    display: inline-block;
 //   padding: 5px;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    background: #C53962;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.task-table th td{
    color: #f5f6f9;
}
.first-td{
    color:#EF4667;
    font-weight:600;
    letter-spacing:0.5px;
}
.task-card{
    background:#19BDF0;
}
.usernameplate , .usernameplate button:hover, .usernameplate button:visited{
    background:transparent;
    border:unset;
    align-items: center;
    display:flex;
    padding: 10px
}
.show > .btn-secondary.dropdown-toggle{
    background:transparent;
    box-shadow:unset;
    border:unset;
}

//dropdown menu
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.bg-card {
    background-color: var(--card-background-color);
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
} 
.rounded {
    border-radius: .25rem;

}
.shadow {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.08);
}
.mt-2{
    margin-top: .5rem;
}
.tdaction{
    padding:7px 24px!important;
}
.removeCardPadding{
    padding:0px!important;
}