
// Fonts


//

/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(/fonts/raleway1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(/fonts/raleway/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: local('Nunito Regular'), local('Nunito-Regular'), url(/fonts/nunito/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: local('Nunito Regular'), local('Nunito-Regular'), url(/fonts/nunito/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/material-icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(/fonts/roboto/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(/fonts/roboto/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/roboto/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/roboto/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(/fonts/roboto/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(/fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/roboto/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/roboto/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/roboto/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/roboto/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), url(/fonts/roboto/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), url(/fonts/roboto/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	font-family: "Raleway", sans-serif;
		background: #F6F6F7;
}
.navbar-laravel {
//	background-image: linear-gradient(120deg,#556cdc,#128bfc,#18bef1);
//  background-image: linear-gradient(120deg,#18bef1, #8183B1, #EF4667);
		background-image: linear-gradient(120deg, #18bef1, #29B4E6, #29B4E6);
}
.navbar-light .navbar-brand {
	color:#fff;
	font-size: 1.500rem;
}
.navbar-light .navbar-brand:hover {
		color:#fff;
}
.navbar-light .navbar-brand img{
		margin-top: -15px;
		margin-bottom: -15px;
		width:75px;
		height:50px;
}
.navbar-light .navbar-nav .nav-link{color:#fff}
.is-white{background:#fff;}
.primary-menu{padding:0px;background: #424242;}
.primary-menu a{ padding:15px;color:#bbb;text-transform:uppercase;font-weight:bold;}
.top-nav .nav-link:hover{
		color: #fff!important;
	 // border-bottom:2px solid #fff;
}
.primary-menu a:hover{
		color: #19BDF0!important;
}
.router-link-exact-active,.router-link-active{ 
	position: relative;
		color: #19BDF0!important;}
.router-link-exact-active:after,.router-link-active:after{    content: "";
		width: 100%;
		display: block;
		//border-bottom: 5px solid #4573E4;
		border-bottom: 5px solid #19BDF0;
		position: absolute;
		bottom: 0;
		border-radius: 9999px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;}
.card{border:2px solid rgba(0,0,0,0.075);}
.no-border{border:0;padding-bottom:2rem;}
.main-menu-links{padding-right:3em}
.main-menu-links svg{margin-right: 10px;}
//.btn{ border:2px solid transparent;font-weight:bold}
.btn-primary:hover,.btn-danger:hover{
	color:#fff!important;
}
.btn{
		font-weight:400;
		text-decoration: none;
		border-radius: .5rem;
		font-size: .875rem;
		padding: .5rem 1.25rem;
		color: #fff;
		box-shadow: 0 2px 7px 0 #b0eaff;
		border:2px solid transparent;
		font-weight:bold;
}

.btn-primary{    
	box-shadow: unset;
		padding: 0.375rem 0.75rem;
		color: #4773E3!important;
		background-color: transparent; 
		border-color: #19BDF0!important
}
.btn-danger{ 
	color: #e3342f!important;
	background-color: transparent; 
	border-color: #e3342f!important;
}

.btn-add{
		background-color: #19BDF0;
}
.btn-sm{
		box-shadow: unset;
		padding: 0.375rem 0.75rem;
		margin-right:5px;
}
.card-header{
	text-align: center;
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		color:#19BDF0;
		background:#fff;
}
.no-link:after{
	content:none;
}    

//flex custom
.flex-1{
		flex:1
}

.flex-1 span{
		float:right;
}

//padding
.pb-10{
		padding-bottom:15px;
}
.p-0{
		padding:0!important;
}
.p-none{
		padding:0;
}
//tabs
.project-tabs .nav{
		justify-content: center;
}
.project-tabs .tab-content{
		padding:3rem;
}
.project-tabs .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
		color: #fff;
		background-image: linear-gradient(30deg,#556cdc,#128bfc,#128bfc);   
		border-color: #4573E4 #4573E4 #4573E4;
}
.project-tabs .nav-link {
		padding: 0.6rem 1.5rem;
		font-weight:bold;
		color:#777;
		letter-spacing:1px;
}
.project-tabs .card{
		border:0;
}
.hr-line-dashed {
		border-top: 1px dashed #e7eaec;
		color: #ffffff;
		background-color: #ffffff;
		height: 1px;
		margin: 20px 0;
}
.col-form-label{
		font-weight:bold;
}
.top-nav svg{
		margin-right:5px;
}
.header-svg{
		width:40px;
		height:40px;
		float:left;
}

.left-border{
		border-left:2px solid #EF4667;
}
.usercard {
		display: inline-block;
 //   padding: 5px;
		width: 35px;
		height: 35px;
		border: 2px solid #fff;
		background: #C53962;
		color:#fff;
		display:flex;
		justify-content:center;
		align-items:center;
}
.task-table th td{
		color: #f5f6f9;
}
.first-td{
		color:#EF4667;
		font-weight:600;
		letter-spacing:0.5px;
}
.task-card{
		background:#19BDF0;
}
.usernameplate , .usernameplate button:hover, .usernameplate button:visited{
		background:transparent;
		border:unset;
		align-items: center;
		display:flex;
		padding: 10px
}
.show > .btn-secondary.dropdown-toggle{
		background:transparent;
		box-shadow:unset;
		border:unset;
}

//dropdown menu
.relative {
		position: relative;
}
.absolute {
		position: absolute;
}
.bg-card {
		background-color: var(--card-background-color);
}
.py-2 {
		padding-top: .5rem;
		padding-bottom: .5rem;
} 
.rounded {
		border-radius: .25rem;

}
.shadow {
		box-shadow: 0 0 5px 0 rgba(0,0,0,.08);
}
.mt-2{
		margin-top: .5rem;
}
.tdaction{
		padding:7px 24px!important;
}
.removeCardPadding{
		padding:0px!important;
}
.v-tabs__item:hover{text-decoration:none!important;color:#fff!important;}
.primary-gradient{
		color:#19BDF0;
}
.secondary-gradient{
		color:#E64A6C;
		text-align:center;
}
#acltable td, #acltable th{
		vertical-align:middle!important;
		text-align:center!important;
}
#acltable td div{
		margin:0 auto;
}
#acltable td .v-messages{
		min-height:0px!important;
}
#acltablediv .v-progress-linear{
		margin:0px!important;
}
.aclmain  .v-menu__content{
		top:50px!important;
		left:10px!important;
}
.aclmain .v-text-field__details{
		display:none!important
}
.aclmain .v-input__slot{
		margin-bottom:0px!important;
}
.invalid-feedback {
		display:block!important;
		color:#ff5252 !important;
		font-size: 12px!important;
		min-height: 12px!important;
		font-weight: bold!important;
}

.projectTabs{
	margin-top:-15px;
	margin-bottom:15px;
}

.border-0{
	border:1px!important;
}
.headlinesmal {
	font-size: 16px!important;
	line-height: 24px!important;
}

.projectTabs .v-toolbar[data-booted=true]{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background: #fff;
}
.projectTabs .v-toolbar__title{
	
	font-weight:bold;
	color:#19BDF0!important;
}
.projectTabs .v-toolbar__title:not(:first-child){
	margin-left:15%!important;
}
.projectTabs .v-tabs__item{
	padding: 15px;
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.7px;
    
}
.projectTabs .theme--light.v-tabs__bar .v-tabs__div{
	font-size: 13px!important;
}
.projectTabs .v-tabs__item:hover, .projectTabs .v-tabs__item--active{
	color: #EF4667 !important;
}
.projectTabs .v-toolbar__content {
    display: flex!important;
    justify-content: space-between!important;
}
.spacebetween{
	justify-content: space-between;
}
.inputupload .v-input__slot{
	visibility:block!important;
	border-radius: 2px!important;
    background: #fff!important;
    min-height:48px!important;
    padding:8px!important;
    color:#000!important;
   
}
.nomarginprogress{
	margin:0px!important
}
.approveselect .v-timeline-item__body{
	display:flex!important;
	justify-content:space-between!important;
}
.btn-link{
	font-weight: 400;
    color: #3490dc;
    text-decoration: none;
    border:0px;
    box-shadow:unset!important;
}
table.v-table tbody td:first-child{
	padding:0 10px!important;
}
.sflex{
	display:flex!important;
}
.High{
	background:#FF5252!important;
}
.High--text{
	color:#FF5252!important;
	font-size:21px!important;
}

.Medium{
	background:#FB8C00!important;
}
.Medium--text{
	color:#FB8C00!important;
	font-size:21px!important;
}
.Low{
	background:#2196F3!important;
}
.Low--text{
	color:#2196F3!important;
	font-size:21px!important;
}
.accordtable{
	margin-bottom:unset!important;
}
.accordtable td{
	border:unset!important;
}
.scopeexpan .v-expansion-panel__header{
	padding:3px!important;
}
.flex-1 span.badge{
	float:unset!important;
}
.userstorytable table.v-table {
	width:99%!important;
}
.approveicon{
	margin-left:5px!important;
}
#wpsform .application--wrap, .subtaskgrid .application--wrap{
	min-height:unset!important;
}
.subtaskgrid .application--wrap{
	margin-bottom:10px!important;
}

#wpsform .v-input input{
	max-height:unset!important;
}
#wpsform .container{
	padding:0px!important;
}
.multiselectwps .multiselect__tags
{
	background:transparent!important;
	border:unset!important;
}
.multiselectwps .multiselect__single{
	background:transparent!important;
}
.uploadBtnDiv{
	display:flex!important;
	margin-top:15px!important;
}
.errorcolor{
	color:#FF5252!important;
}
#wpsform .layout{
	flex-direction:column!important;
}
a.v-btn {
	text-decoration: none!important;	
}
.smallbtn .v-btn--floating.v-btn--small{
	width:30px!important;
	height:30px!important;
}


.cardPadding{
	padding:10px!important;
	padding-bottom:0px!important;
}

#editTask .v-card, .customcard{
	padding:10px!important;
	padding-bottom:0px!important;
	box-shadow:unset!important;
}

#taskcomment1 .v-card{
	background:#fff!important;
	box-shadow:unset!important;
}
#taskcomment1 {
	background:#fff!important;
}
#taskcomment1 .v-card, #taskcomment1 .v-list{
	background:#fafafa!important;
	box-shadow:unset!important;
}

#tasksScreen{
	background:transparent!important;
}
.application--wrap{
	min-height:unset!important;
}
.v-messages__message, .v-messages__wrapper{
	color:#FF5252!important;
}
.topnavlist .router-link-exact-active:after, .topnavlist .router-link-active:after{
	content:'';
	border:unset!important;
	color:#fff!important;
}

.commentContainer{
	padding:0px!important;
}

#taskcomment1 .layout{
	margin-top:10px!important;
}

#taskcomment1 .v-list__tile__title{
	
	color: rgba(0,0,0,.54)!important;
}
#taskcomment1 .v-list__tile__sub-title{
	color: rgba(0,0,0,.87)!important;
}
.commentbox{
	height: 70%;
}
.v-slider__thumb-label {
	width:24px!important;
	height:24px!important;
}
#taskcomment1 .v-timeline span{
	float:unset!important;
}
.commentblock{
	height:300px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.singleComBlock {
	display:flex!important;
	flex-direction:column!important;
	text-align:left!important;
	background:#fff!important;
	padding:10px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)!important;
}
.childFlex{
	display:flex;
	align-items:center;
}
.unsetWidth{
	max-width:100%!important;
	padding-right:15px!important;
	padding-left:15px!important;

}
#dashboard .v-card{
	box-shadow:unset!important;
	border:2px solid #eee!important;
}
#dashboard .v-card .v-card{
	border:unset!important;
}
.vprog{
	width:75px!important;
	height:75px!important;
}
#dashboard .title{
	font-size:16px!important;
	margin: 0 auto;
}
#dashboard .d-flex .v-card{
	padding:17px!important
}
.redgradient {
	background-image: linear-gradient(180deg,#f44881,#ec454f);
}
.redgradient .headline {
	display: flex;
    justify-content: space-between;
}
.redgradient .headline .intime span{
	color:rgba(0,0,0,.54);
	font-size:16px;
}
.redgradient .timeblock{
	min-width:100%;
}
#dashboard .v-datatable__actions__select{
	display:none!important;
}
#dashboard .statswidget .v-list--two-line .v-list__tile{
	height:40px!important;
}
#dashboard .statswidget .v-avatar{
	height:30px!important;
	width:30px!important;
}
#dashboard .statswidget .v-avatar .v-icon{
	font-size: 18px!important;
}
#dashboard .v-subheader{
	height: 30px!important;
	margin-left: 40px!important;
	font-size:12px!important;
}
#dashboard .v-list__tile__title{
	height:18px!important;
	line-height:18px!important;
}
#dashboard .statswidget .v-list__tile__avatar{
	min-width:40px!important;
}
#dashboard tr.v-datatable__progress{
	display:none!important;
}
#dashboard table.v-table thead tr{
	height:32px!important;
}
#dashboard table.v-table tbody td{
	height:30px!important;
	font-size:11px!important;
}
#dashboard .v-datatable .v-btn{
	height:25px!important;
}
.commentfeed .v-list--three-line .v-list__tile{
	height:40px!important;
}
.commentfeed .v-avatar{
	width:30px!important;
	height:30px!important;
}
.commentfeed .v-list--three-line .v-list__tile__avatar{
	margin-top: -8px!important;
	min-width: 43px!important;
}

.commentfeed .v-list__tile__title{
	height:12px!important;
	line-height:12px!important;
	font-size:14px!important;

}
.commentfeed .v-list__tile__sub-title{
	font-size:12px!important;
	color:rgba(0,0,0,.54)!important;
	margin-top:5px!important;
	font-size:13px!important;
}
.primary-menu .material-icons {
	vertical-align: -0.180em;
    width: 1em;
    margin-right: 0.4em;
    font-size:1.1em!important,
}
.commentfeed hr{
	margin-top:0.5rem!important;
	margin-bottom:0.5rem!important;
}
.commentfeed .v-icon{
	font-size:11px;
}
.commentfeed .time{
	margin-left:10px;
	font-size:10px!important;
}
#dashboard .minh500{
	height:300px!important;
}